#############################
# TERRAFORM – NEVER COMMIT #
#############################

# Local .terraform directories
.terraform/
.terraform/*

# Terraform state files
terraform.tfstate
terraform.tfstate.*
tfstate

# Crash log files
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Ignore lock file (provider versions)
.terraform.lock.hcl

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

#####################################
# OS / EDITOR / IDE FILES TO IGNORE #
#####################################

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Linux
*~

# VSCode
.vscode/
*.code-workspace

# JetBrains IDEs
.idea/

# Backup files
*.backup
*.bak
*.tmp

#####################################
# PYTHON / ANSIBLE / SHELL SUPPORT  #
#####################################

# Python
__pycache__/
*.pyc

# Shell history
*.history

#####################################
# LOG / TEMP FILES
#####################################
*.log
logs/
tmp/
